# Strings
- Strings are sequences of characters
- We can write strings either in <b>single quotes</b> or <b>double quotes</b>

In [1]:
s = "Hello, my name is akhil."
print(s)

Hello, my name is akhil.

In [2]:
s = 'Hello, my name is akhil.'
print(s)

Hello, my name is akhil.

In [3]:
s = "I'm akhil"
print(s)

I'm akhil

#### Multi-line strings
- By using 3 single or double quotes, we can write multi-line string

In [4]:
mul = """
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
"""
print(mul)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

#### Indexing
- Strings are sequences of characters, so you can access each character from the string, by using indexing
- Index starts with 0
- Reverse Index starts with -1
```
String : A  K  H  I  L
  Index : 0  1  2  3  4
Rev Index: -5 -4 -3 -2 -1
```
> SYNTAX: variable[index]

In [5]:
name = 'AKHIL'

In [6]:
print(name[-5])

A

In [7]:
print(name[3])

I

In [8]:
print(name[1])

K

#### Slicing
- we can extract specific part from the string, by using slicing
- stop index not included in extraction
> SYNTAX: variable[start index : stop index]

In [9]:
full_name = "Akhil Siddabattula"
print(full_name)

Akhil Siddabattula

In [10]:
first_name = full_name[0:5]
print(first_name)

Akhil

In [11]:
last_name = full_name[6:19]
print(last_name)

Siddabattula

- slicing from start, by only specifying end index

In [12]:
first_name = full_name[:5]
print(first_name)

Akhil

- slicing from end, by only specifying start index

In [13]:
last_name = full_name[6:]
print(last_name)

Siddabattula

In [14]:
print(full_name)

Akhil Siddabattula

- By specifying number in the step as below, it will skip the step as per specified count
- By default it is 1

In [15]:
print(full_name[::1])

Akhil Siddabattula

In [16]:
print(full_name[::2])

AhlSdaatl

In [17]:
print(full_name[::3])

AiSdau

- By using this process we can reverse a string

In [18]:
print(full_name[::-1])

aluttabaddiS lihkA

#### String Concatenation
- we can combine two strings by adding <b>+</b> between two strings.

In [19]:
print(first_name)

Akhil

In [20]:
print(last_name)

Siddabattula

In [21]:
print(first_name + last_name)

AkhilSiddabattula

In [22]:
print(first_name + " " + last_name)

Akhil Siddabattula

## String Methods

#### upper()
- It will convert string from lower case to upper case

In [23]:
print("Before: ", full_name)
print("After: ", full_name.upper())

Before:  Akhil Siddabattula
After:  AKHIL SIDDABATTULA

#### lower()
- It will convert string from upper case to lower case

In [24]:
print("Before: ", full_name)
print("After: ", full_name.lower())

Before:  Akhil Siddabattula
After:  akhil siddabattula

#### split()
- I will divide the string into item and forms a list
- By default it will divide by using space.
- If you specify any character inside split, it will divide according to that character

In [25]:
print("Before: ", full_name)
print("After: ", full_name.split())

Before:  Akhil Siddabattula
After:  ['Akhil', 'Siddabattula']

In [26]:
path = "users/akhil/python"

In [27]:
print("Before: ", path)
print("After: ", path.split('/'))

Before:  users/akhil/python
After:  ['users', 'akhil', 'python']

#### len()
- It will returns length of the string

In [28]:
print("String: ", full_name)
print("length: ", len(full_name))

String:  Akhil Siddabattula
length:  18

#### strip()
- It will remove excess empty spaces from string

In [29]:
a = "    Hello    "

In [30]:
print("Before: ", a)
print("After: ", a.strip())

Before:      Hello
After:  Hello

In [31]:
a = 'ttttttrwHellovvvvv'

In [32]:
print("Before: ", a)
print("After: ", a.strip("trwv"))

Before:  ttttttrwHellovvvvv
After:  Hello

### String Formatting
- .format()

In [34]:
print("Hello, I'm {}".format(full_name))

Hello, I'm Akhil Siddabattula

In [36]:
job = "Junior Data Engineer"
company = "Vamstar"
print("Hello, I'm {} working as {} at {}".format(full_name, job, company))

Hello, I'm Akhil Siddabattula working as Junior Data Engineer at Vamstar

In [37]:
print("Hello, I'm {a} working as {b} at {c}".format(a=full_name, b=job, c=company))

Hello, I'm Akhil Siddabattula working as Junior Data Engineer at Vamstar

- f Strings

In [38]:
print(f"Hello, I'm {full_name} working as {job} at {company}")

Hello, I'm Akhil Siddabattula working as Junior Data Engineer at Vamstar