### Variables
- Variables are containers for storing data values.
- Python has no command for declaring a variable.
- A variable is created the moment you first assign a value to it.

In [2]:
firstName = 'Akhil'
lastName = 'Siddabattula'
print(firstName)
print(lastName)

Akhil
Siddabattula

- Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [3]:
x = "Hello"
x = 5
print(x)

5

- We can get the data type of a variable with the type() function.

In [7]:
a = 50674
b = 16.23
c = "Hello World"
d = True

In [8]:
print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))

50674 <class 'int'>
16.23 <class 'float'>
Hello World <class 'str'>
True <class 'bool'>

- If you want to specify the data type of a variable, this can be done with casting.

In [9]:
x = str(3)
y = int(3)
z = float(3)

In [10]:
print(x, type(x))
print(y, type(y))
print(z, type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

- varibales names are case-sensitive in python

In [14]:
a = 12
A = True
# a will not overwrite A

In [15]:
print(a)
print(A)

12
True

- Python allows you to assign values to multiple variables in one line

In [16]:
firstName, middleName, lastName = "Akhil", "Kumar", "Siddabattula"

In [18]:
print(firstName)
print(middleName)
print(lastName)

Akhil
Kumar
Siddabattula

- You can print multiple varibales in one print() function by seperating each varibale with comma.

In [19]:
print(firstName, middleName, lastName)

Akhil Kumar Siddabattula